#footer
  .container
    %center
      %p.muted.credit
        %br
        Designed by Students of UC Berkeley's College of Engineering CS169: 
        %span
          %a{:href=>"http://www.leadu.danmulhern.com/"} Team31 Fall 2012
          & 
          %a{:href=>"https://personality-types.herokuapp.com/"} Team25 Fall2013



/
  Le javascript
  ================================================== 
  Placed at the end of the document so the pages load faster 
-#
%script{:src=>"../assets/js/jquery.js"}
%script{:src=>"../assets/js/bootstrap-transition.js"}
%script{:src=>"../assets/js/bootstrap-alert.js"}
%script{:src=>"../assets/js/bootstrap-modal.js"}
%script{:src=>"../assets/js/bootstrap-dropdown.js"}
%script{:src=>"../assets/js/bootstrap-scrollspy.js"}
%script{:src=>"../assets/js/bootstrap-tab.js"}
%script{:src=>"../assets/js/bootstrap-tooltip.js"}
%script{:src=>"../assets/js/bootstrap-popover.js"}
%script{:src=>"../assets/js/bootstrap-button.js"}
%script{:src=>"../assets/js/bootstrap-collapse.js"}
%script{:src=>"../assets/js/bootstrap-carousel.js"}
%script{:src=>"../assets/js/bootstrap-typeahead.js"}
-#
  %script{:src=>"../../assets/javascripts/jquery.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-transition.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-alert.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-modal.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-dropdown.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-scrollspy.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-tab.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-tooltip.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-popover.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-button.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-collapse.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-carousel.js"}
  %script{:src=>"../../assets/javascripts/bootstrap-typeahead.js"}