#wrap  
	= render 'navigation.html.haml'

	.row-fluid.staticPage
		.span8.offset2
			.page-header
				%center
					%h1.text-blue1 About: Dan Mulhern 
					= image_tag("danHeadShot.jpg", {:style=>"margin-top: 2px; margin-bottom: 2px;", :title=>"Daniel Granholm Mulhern", :alt=>"", :width=>"149", :height=>"174"})
					%br
					%br
					%h4.text-blue2 Distinguished Practitioner of Business and Law at UC Berkeley
					%h4.text-blue2 President of Granholm Mulhern Associates
					%h4.text-blue2 Expert on Leadership and Organizational Development
			
			.span10.offset1	
				.page-header	
					%justify
						%center.lead.text-blue3 MBTI – How is it useful for individuals and organization!

						%p
							%b Dan Mulhern
							is a nationally recognized expert in the fields of leadership, gender and organizational culture. Now teaching courses on leadership, organizational behavior and public policy at the Haas School of Business and Boalt Law School at University of California, Berkeley, Mulhern leverages his experience to offer valuable insight on the leadership and cultural changes happening in today’s workplaces. Through his work as a public speaker, radio personality, writer, leadership coach, and consultant, Mulhern’s inspired thousands to lead with their best self.
						%p
							Mulhern has published two books on leadership,
							%a{:href=>"http://www.danmulhern.com/products-page/dan-mulhern/everyday-leadership-getting-results-in-business-politics-and-life-paperback/"}
								%em Everyday Leadership: Getting Results in Business, Politics and Life
							and 
							%a{:href=>"http://www.danmulhern.com/be-real-lead-with-your-best-self/"}
								Be Real: Inspiring Stories For Leading At Home And Work.
							For more than ten years, Mulhern has been writing an acclaimed blog, “Reading for Leading,” which is received directly by a list of over 10,000 readers.

						%p
							Mulhern has personally worked in all three major sectors and through his consulting practice has worked with a great range of organizations, corporations and government groups. He has facilitated groups as large as 600 individuals and worked with CEOs and executive teams from small start-ups all the way to Fortune 500 companies.

						%p
							In addition to his books on leadership, Mulhern co-authored 
							%em
								%a{:onclick=>"javascript:pageTracker._trackPageview('/outgoing/www.amazon.com/Governors-Story-Americas-Economic-Future/dp/1586489976/ref=nosim/?=strmenspe-20');", :href=>"http://www.amazon.com/Governors-Story-Americas-Economic-Future/dp/1586489976/ref=nosim/?=strmenspe-20"} A Governor’s Story: The Fight for Jobs and America’s Economic Future
							with his wife, former Michigan Governor Jennifer Granholm. The 
							%em Washington Post 
							political bestseller discusses leadership during difficult times and periods of intense change, focusing on how Granholm led Michigan out of its major economic meltdown, and the major challenges facing American leadership today.
						%br
						%center
							= image_tag("dansGoldenAppleClass.jpg", {:style=>"margin-top: 2px; margin-bottom: 2px;", :title=>"Golden Apple", :alt=>"", :width=>"411", :height=>"231"})
							%br
							%a{:href=>"http://www.dailycal.org/2013/03/04/daniel-mulhern-receives-outstanding-teaching-award/"}
								Dan Mulhern with UC Berkeley undergraduate students after receiving the Golden Apple Award for outstanding teaching.
						%br
						%p
							%span
								Mulhern has frequently won awards for his teaching and leadership in the mentoring field.  In 2013, UC Berkeley’s Office of Student Affairs 
							%a{:onclick=>"javascript:pageTracker._trackPageview('/outgoing/www.dailycal.org/2013/03/04/daniel-mulhern-receives-outstanding-teaching-award/');", :href=>"http://www.dailycal.org/2013/03/04/daniel-mulhern-receives-outstanding-teaching-award/", :target=>"_blank"}
								awarded Mulhern
							%span
								The Golden Apple Award for Outstanding Teaching when UC Berkeley students voted him their favorite professor on campus.  He’s also received praise for his work on the changing roles of men and his dedication to helping companies create great places to work.In 2010, he received the Phillip A. Hart award in recognition of his unique understanding and support of women’s issues and concerns. The Detroit Metropolitan Bar Association named him its Dennis Archer Public Service Award recipient in 2005.

						%p
							Prior to serving as Michigan’s First Gentleman, Mulhern created a successful leadership firm, called the Mulhern Hastings Group, which he left in order to better support his wife and children when she became governor in 2002. He later launched Dan Mulhern Inc. and Granholm Mulhern Associates, where he is currently President.

						%p
							Mulhern is an honors graduate Yale University and Harvard Law School. He’s also an avid runner, guitar player, and claims he can still compete on a basketball court with his daughters and son.
						%br
#push 
    
= render "footer.html.haml"
