#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 ENFJ - The Teacher
          %h2.text-blue2 Extraverted iNtuitive Feeling Judging 

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Giver

            %p
              ENFJs are the benevolent 'pedagogues' of humanity. They have tremendous charisma by which many are drawn into their nurturant tutelage and/or grand schemes. Many ENFJs have tremendous power to manipulate others with their phenomenal interpersonal skills and unique salesmanship. But it's usually not meant as manipulation -- ENFJs generally believe in their dreams, and see themselves as helpers and enablers, which they usually are.

            %p 
              ENFJs are global learners. They see the big picture. The ENFJs focus is expansive. Some can juggle an amazing number of responsibilities or projects simultaneously. Many ENFJs have tremendous entrepreneurial ability.

            %p 
              ENFJs are, by definition, Js, with whom we associate organization and decisiveness. But they don't resemble the SJs or even the NTJs in organization of the environment nor occasional recalcitrance. ENFJs are organized in the arena of interpersonal affairs. Their offices may or may not be cluttered, but their conclusions (reached through feelings) about people and motives are drawn much more quickly and are more resilient than those of their NFP counterparts.

            %p 
              ENFJs know and appreciate people. Like most NFs, (and Feelers in general), they are apt to neglect themselves and their own needs for the needs of others. They have thinner psychological boundaries than most, and are at risk for being hurt or even abused by less sensitive people. ENFJs often take on more of the burdens of others than they can bear.

            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Extraverted Feeling
            %p 
              Extraverted Feeling rules the ENFJ's psyche. In the sway of this rational function, these folks are predisposed to closure in matters pertaining to people, and especially on behalf of their beloved. As extraverts, their contacts are wide ranging. Face-to-face relationships are intense, personable and warm, though they may be so infrequently achieved that intimate friendships are rare.


            %h4.text-blue3 Introverted iNtuition
            %p
              Like their INFJ cousins, ENFJs are blessed through introverted intuition with clarity of perception in the inner, unconscious world. Dominant Feeling prefers to find the silver lining in even the most beggarly perceptions of those in their expanding circle of friends and, of course, in themselves. In less balanced individuals, such mitigation of the unseemly eventually undermines the ENFJ's integrity and frequently their good name. In healthier individuals, deft use of this awareness of the inner needs and desires of others enables this astute type to win friends, influence people, and avoid compromising entanglements.
            %p
              The dynamic nature of their intuition moves ENFJs from one project to another with the assurance that the next one will be perfect, or much more nearly so than the last. ENFJs are continually looking for newer and better solutions to benefit their extensive family, staff, or organization.

            %h4.text-blue3 Extraverted Sensing
            %p
              Sensing is extraverted. ENFJs can manage details, particularly those necessary to implement the prevailing vision. These data have, however, a magical flexible quality. Something to be bought can be had for a song; the same something is invaluable when it's time to sell. (We are not certain, but we suspect that such is the influence of the primary function.) This wavering of sensory perception is made possible by the weaker and less mature status with which the tertiary is endowed.

            %h4.text-blue3 Introverted Thinking
            %p
              Introverted Thinking is least apparent and most enigmatic in this type. In fact, it often appears only when summoned by Feeling. At times only in jest, but in earnest if need be, Thinking entertains as logical only those conclusions which support Feeling's values. Other scenarios can be shown invalid or at best significantly inferior. Such "Thinking in the service of Feeling" has the appearance of logic, but somehow it never quite adds up.

            %p
              Introverted Thinking is frequently the focus of the spiritual quest of ENFJs. David's lengthiest psalm, 119, pays it homage. "Law," "precept," "commandment," "statute:" these essences of inner thinking are the mysteries of Deity for which this great Feeler's soul searched.


      .span6.offset3
        %br
        %h3.text-blue2 Famous ENFJs:
        %ul 
          %li David, King of Israel
          %li 
            U.S. Presidents: 
            %ul.text-warning
              %li Abraham Lincoln 
              %li Ronald Reagan 
              %li Barack Obama 

          %li William Cullen Bryant, poet 
          %li Abraham Maslow, psychologist and proponent of self-actualization 
          %li Ross Perot 
          %li Sean Connery 
          %li Elizabeth Dole 
          %li Francois Mitterand 
          %li Dick Van Dyke 
          %li Andy Griffith 
          %li James Garner 
          %li William Aramony, former president of United Way 
          %li Gene Hackman (Superman, Antz) 
          %li Dennis Hopper (Speed) 
          %li Brenda Vaccaro 
          %li Craig T. Nelson (Coach) 
          %li Diane Sawyer (Good Morning America) 
          %li Randy Quaid (Bye Bye, Love; Independence Day) 
          %li Tommy Lee Jones (The Fugitive) 
          %li Kirstie Alley ("Cheers," Look Who's Talking movies) 
          %li Michael Jordan, NBA basketball player 
          %li Johnny Depp (Pirates of the Caribbean) 
          %li Oprah Winfrey 
          %li Bob Saget America's Funniest Home Videos, Full House 
          %li Julia Louis-Dreyfus ("Seinfeld") 
          %li Ben Stiller (The Royal Tenenbaums) 
          %li Peyton Manning, Indianapolis Colts quarterback 
          %li Matthew McConaughey (The Wedding Planner) 
          %li Pete Sampras, Tennis Champion 
          %li Lauren Graham ("Gilmore Girls") 
          %li Ben Affleck (The Sum Of All Fears) 
          %li John Cusack (High Fidelity)

        %br
        %h3.text-blue2 Fictional ENFJs
        %ul
          %li Joe Hackett, Wings
        %br

    %br

#push 
    
= render "footer.html.haml"