#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 ENFP - The Champion
          %h2.text-blue2 Extraverted iNtuitive Feeling Perceiving 

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Inspirer

            %p
              ENFPs are both "idea"-people and "people"-people, who see everyone and everything as part of a cosmic whole. They want to both help and to be liked and admired by other people, on both an individual and a humanitarian level. This is rarely a problem for the ENFP, as they are outgoing and warm, and genuinely like people. Some ENFPs have a great deal of zany charm, which can ingratiate them to more stodgy types in spite of their unconventionality.

            %p
              ENFPs often have strong, if sometimes surprising, values and viewpoints. They tend to try to use their social skills and contacts to persuade others gently (though enthusiastically) of the rightness of these views; this sometimes results in the ENFP neglecting their nearest and dearest while caught up their efforts to change the world.

            %p
              ENFPs can be the warmest, kindest, and most sympathetic of mates; affectionate, demonstrative, and spontaneous. Many in relationships with an ENFP literally say, "They light up my life." But there is usually a trade-off: the partner must be willing to deal with the practical and financial aspects of the relationship, and the ENFP must be allowed the freedom to follow their latest path, whatever that entails.

            %p
              For some ENFPs, relationships can be seriously tested by their short attention spans and emotional needs. They are easily intrigued and distracted by new friends and acquaintances, forgetting their older and more familiar emotional ties for long stretches at a time. And the less mature ENFP may need to feel they’re the constant center of attention, to confirm their image of themselves as a wonderful and fascinating person.

            %p
              In the workplace, ENFPs are pleasant and friendly, and interact in a positive and creative manner with both their co-workers and the public. ENFPs are also a major asset in brainstorming sessions; follow-through on projects can be a problem, however. ENFPs do get distracted, especially if another interesting issue comes along. They also tend towards procrastination, and dislike performing small, uninteresting tasks. ENFPs are most productive when working in a group with a few Js to handle the details and the deadlines.

            %p ENFPs are friendly folks. Most are really enjoyable people. Some of the most soft-hearted people are ENFPs.

            %p
              ENFPs have what some call a "silly switch." They can be intellectual, serious, all business for a while, but whenever they get the chance, they flip that switch and become CAPTAIN WILDCHILD, the scourge of the swimming pool, ticklers par excellence. Som etimes they may even appear intoxicated when the "switch" is flipped.

            %p One study has shown that ENFPs are significantly overrepresented in psychodrama. Most have a natural propensity for role-playing and acting.

            %p
              ENFPs like to tell funny stories, especially about their friends. This penchant may be why many are attracted to journalism. I kid one of my ENFP friends that if I want the sixth fleet to know something, I'll just tell him.

            %p
              ENFPs are global learners. Close enough is satisfactory to the ENFP, which may unnerve more precise thinking types, especially with such things as piano practice ("three quarter notes or four ... what's the difference?") Amazingly, some ENFPs are adept at exacting disciplines such as mathematics.

            %p
              Friends are what life is about to ENFPs, moreso even than the other NFs. They hold up their end of the relationship, sometimes being victimized by less caring individuals. ENFPs are energized by being around people. Some have real difficulty being alone , especially on a regular basis.

            %p
              One ENFP colleague, a social worker, had such tremendous interpersonal skills that she put her interviewers at ease during her own job interview. She had the ability to make strangers feel like old friends.

            %p
              ENFPs sometimes can be blindsided by their secondary Feeling function. Hasty decisions based on deeply felt values may boil over with unpredictable results. More than one ENFP has abruptly quit a job in such a moment.

            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Extraverted iNtuition
            %p 
              The physical world, both geos and kosmos, is the ENFP's primary source of information. Rather than sensing things as they are, dominant intuition is sensitive to things as they might be. These extraverted intuitives are most adept with patterns and connections. Their natural inclination is toward relationships, especially among people or living things.

            %p 
              Intuition leans heavily on feeling for meaning and focus. Its best patterns reflect the interesting points of people, giving rise to caricatures of manner, speech and expression.

            %h4.text-blue3 Introverted Feeling
            %p
              Auxiliary feeling is nonverbally implied more often than it is openly expressed. When expressed, this logic has an aura of romance and purity that may seem out of place in this flawed, imperfect world. In its own defense, feeling judgement frequently and fleetly gives way to humor. ENFPs who publicize their feelings too often may put off some of the crowd of friends they naturally attract.

            %h4.text-blue3 Extraverted Thinking 
            %p
              Thinking, the process which runs to impersonal conclusions, holds the extraverted tertiary position. Used on an occasional basis, ENFPs may benefit greatly from this ability. Less mature and lacking the polish of higher order functions, Thinking is not well suited to be used as a prominent function. As with other FP types, the ENFP unwary of Thinking's limitations may find themselves most positively mistaken.

            %h4.text-blue3 Introverted Sensing
            %p
              Sensing, the least discernible ENFP function, resides in the inner world where reality is reduced to symbols and icons--ideas representing essences of external realities. Under the influence of the ever-present intuition, the ENFP's sensory perceptions are in danger of being replaced by hypothetical data consistent with pattern and paradigm. When it is protected and nourished, introverted sensing provides information about the fixed. From such firm anchoring ENFPs are best equipped to launch into thousands of plausibilities and curiosities yet to be imagined.

            %p
              Perhaps the combination of introverted Feeling and childlike introverted Sensing is responsible for the silent pull of ENFPs to the wishes of parents, authority figures and friends. Or perhaps it's the predominance of indecisive intuition in combination with the ambiguity of secondary Fi and tertiary Te that induces these kind souls to capitulate even life-affecting decisions. Whatever the dynamic, ENFPs are strongly influenced by the opinions of their friends.


      .span6.offset3
        %br
        %h3.text-blue2 Famous ENFPs:
        %ul 
          %li Franz Joseph Haydn
          %li Samuel Clemens (Mark Twain)
          %li Will Rogers
          %li Buster Keaton
          %li Theodor "Dr." Seuss Geisel (The Cat in the Hat)
          %li Mickey Rooney
          %li James Dobson ("Focus on the Family")
          %li Andy Rooney
          %li Carol Burnett
          %li Paul Harvey 
          %li Elizabeth Montgomery (Bewitched)
          %li Bill Cosby (Ghost Dad)
          %li Dom Delouise, actor
          %li Dave Thomas, owner of Wendy's hamburger chain 
          %li Lewis Grizzard, newspaper columnist
          %li I. King Jordan, past president of Gallaudet University
          %li Martin Short, actor-comedian
          %li Meg Ryan, actor (When Harry Met Sally)
          %li Robin Williams, actor, comedian (Dead Poet's Society, Mrs. Doubtfire)
          %li Sandra Bullock, actor (Speed, While You Were Sleeping)
          %li Robert Downey Jr.(Ironman)
          %li Alicia Silverstone (Clueless)
          %li Sinbad
          %li Andy Kaufman
          %li Regis Philbin
          %li Will Smith

        %br
        %h3.text-blue2 Fictional ENFPs
        %ul
          %li Dr. Doug Ross (ER)
          %li Balkie (Perfect Strangers)
          %li Ariel (The Little Mermaid)
          %li Steve Irkle
        %br

    %br

#push 
    
= render "footer.html.haml"