#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 ENTP - The Visionary
          %h2.text-blue2 Extraverted iNtuitive Thinking Perceiving 

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Originator

            %p
              "Clever" is the word that perhaps describes ENTPs best. The professor who juggles half a dozen ideas for research papers and grant proposals in his mind while giving a highly entertaining lecture on an abstruse subject is a classic example of the type. So is the stand-up comedian whose lampoons are both funny and incisively accurate.

            %p
              ENTPs are usually verbally as well as cerebrally quick, and generally love to argue--both for its own sake, and to show off their debating skills. ENTPs tend to have a perverse sense of humor as well, and enjoy playing devil's advocate. This sometimes confuses, even angers, those who don't understand or accept the concept of argument as a sport.

            %p
              ENTPs are as innovative and ingenious at problem-solving as they are at verbal gymnastics; on occasion, however, they manage to outsmart themselves. ENTPs can be prone to "sharp practice" – especially cutting corners without regard to the rules if it's expedient – or, their juggling acts may simply be so over-ambitious they collapse.

            %p
              Both at work and at home, ENTPs are very fond of "toys" -- physical or intellectual, the more sophisticated the better. Once these have been "solved" or become too familiar, however, they’ll be replaced with new ones.

            %p
              ENTPs are basically optimists, but in spite of this (perhaps because of it?), they can become petulant about small setbacks and inconveniences. (Major setbacks they regard as challenges, and tackle with determination.) ENTPs have little patience with those they consider wrongheaded or unintelligent, and show little restraint in demonstrating this. In general, however, they are genial, even charming, when not being harassed by life.

            %p
              In terms of their relationships with others, ENTPs are capable of bonding very closely and suddenly with their loved ones. Some appear deceptively offhand with their nearest and dearest; others are so demonstrative that they succeed in shocking co-workers who've only seen their professional side. ENTPs are also quick to spot a kindred spirit, and good at acquiring friends of similar temperament and interests.

            %p
              ENTPs may sometimes give the impression of being largely oblivious to the rest of humanity except as an audience: good, bad, or potential. In general this is unfair – but it can be difficult to get an ENTP’s attention when they’re not immediately aware of you, especially for an Introvert.

            %p
              The best approach in communicating with an ENTP is to be straightforward. No games – they’ll win. No "pulling rank" – they’ll just want to put you in your place. No apologies – you’ll undermine yourself. Try "I need/want to talk to you."
            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Extraverted iNtuition
            %p 
              Thinking is iNtuition's ready assistant, an embodiment of the sort of logic found in laws, boards and circuits. Thinking's job is to lend focus and direction to iNtuition's critical mass. The temporary habitations of changeling iNtuition are constructed of Boolean materials from Thinking's storehouse. Ultimately, Thinking is no match for iNtuition's prodigiousness. Systems lie in various states of disarray, fragmentary traces of Thinking's feverish attempts to shadow and undergird the leaps of the dominant function. One can only suppose that Thinking must continue to work during REM sleep pulling together iNtuition's brainchildren into integral wholes.

            %h4.text-blue3 Introverted Thinking
            %p
              Thinking is iNtuition's ready assistant, an embodiment of the sort of logic found in laws, boards and circuits. Thinking's job is to lend focus and direction to iNtuition's critical mass. The temporary habitations of changeling iNtuition are constructed of Boolean materials from Thinking's storehouse. Ultimately, Thinking is no match for iNtuition's prodigiousness. Systems lie in various states of disarray, fragmentary traces of Thinking's feverish attempts to shadow and undergird the leaps of the dominant function. One can only suppose that Thinking must continue to work during REM sleep pulling together iNtuition's brainchildren into integral wholes.

            %h4.text-blue3 Extraverted Feeling  
            %p
              To the extent that Feeling is developed, ENTPs extravert Feeling judgment. As a result, it is not uncommon to find affability and bonhomie in members of this species. Tertiary functions are potentially utilitarian. Their limitations appear in their relative underdevelopment, diminished endurance, and vulnerability. ENTPs may harness Feeling's good will in areas such as sales, service, drama, humor and art. ENTP loyalty often runs high and can be hooked by those the ENTP counts as friends.
  

            %h4.text-blue3 Introverted Sensing
            %p
              Like a tail on the kite of iNtuition, Introverted Sensing counterweighs these beings drawn to nonconformity and anarchy. These shadowy sensory forms, so familiar to SJ types, serve as lodestones which many ENTPs employ Herculean measures to escape. "Question authority! (then do exactly what it tells you)" sums up the dilemma in which ENTPs may find themselves by attempting to best the tarbaby Sensing. Occasionally acknowledging awareness of norms and abnormality could, in theory, be potentially freeing.

            %p
              Additionally, I've noticed that ENTPs have the need to have areas of expertise/excellence/uniqueness in which one is second to none. I've never beaten an ENTP at his/her own game--not in the final analysis. (e.g., just tonight, my neighbor who is recuperating from an illness received a call from an ENTP friend offering his special recipe for tea. The instructions required only the finest ingredients, a particular brand of orange juice, tea made with a ball--none of those horrid teabags--..., which will of course make the best tea of which he himself drinks 50 gallons each winter!)


      .span6.offset3
        %br
        %h3.text-blue2 Famous ENTPs:
        %ul 
          %li.text-warning 
            U.S. Presidents:
            %ul
              %li John Adams, 2nd US president.
              %li James A. Garfield (who could reportedly write Latin with one hand and Greek with the other, simultaneously)
              %li Rutherford B. Hayes
              %li Theodore "Teddy" Roosevelt
          %li Thomas Edison
          %li Lewis Carrol, author (Alice in Wonderland)
          %li Julia Child
          %li Suzanne Pleshette
          %li George Carlin
          %li Valerie Harper
          %li John Candy
          %li John Sununu
          %li Dr. Bill Bass, forensic anthropologist
          %li Weird Al Yankovick
          %li Marilyn Vos Savant
          %li Alfred Hitchcock
          %li Tom Hanks
          %li David Spade
          %li Céline Dion
          %li Matthew Perry, Chandler ("Friends")
          %li Rachel Ray
          %li Rodney Dangerfield
          %li Alexander the Great
          %li Confederate General J. E. B. Stuart
          %li Sir Walter Raleigh

        %br
        %h3.text-blue2 Fictional ENTPs
        %ul
          %li "Q" (Star Trek--The Next Generation)
          %li Shirley Feeney (Laverne and Shirley)
          %li Bugs Bunny
          %li Wile E. Coyote
          %li Garfield the cat
          %li Mercutio, from Romeo and Juliet
          %li Horace Rumpole, from John Mortimer's Rumpole of the Bailey series
          %li Dorothy L. Sayers's detective Lord Peter Wimsey
        %br

    %br

#push 
    
= render "footer.html.haml"