#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 ESFJ - The Provider
          %h2.text-blue2 Extraverted Sensing Feeling Judging 

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Caregiver

            %p
              Guardians of birthdays, holidays and celebrations, ESFJs are generous entertainers. They enjoy and joyfully observe traditions and are liberal in giving, especially where custom prescribes.

            %p
              All else being equal, ESFJs enjoy being in charge. They see problems clearly and delegate easily, work hard and play with zest. ESFJs, as do most SJs, bear strong allegiance to rights of seniority. They willingly provide service (which embodies life's meaning) and expect the same from others.

            %p
              ESFJs are easily wounded. And when wounded, their emotions will not be contained. They by nature "wear their hearts on their sleeves," often exuding warmth and bonhomie, but not infrequently boiling over with the vexation of their souls. Some ESFJs channel these vibrant emotions into moving dramatic performances on stage and screen.

            %p
              Strong, contradictory forces consume the ESFJ. Their sense of right and wrong wrestles with an overwhelming rescuing, 'mothering' drive. This sometimes results in swift, immediate action taken upon a transgressor, followed by stern reprimand; ultimately, however, the prodigal is wrested from the gallows of their folly, just as the noose tightens and all hope is lost, by the very executioner!

            %p
              An ESFJ at odds with self is a remarkable sight. When a decision must be made, especially one involving the risk of conflict (abhorrent to ESFJs), there ensues an in-house wrestling match between the aforementioned black-and-white Values and the Nemesis of Discord. The contender pits self against self, once firmly deciding with the Right, then switching to Prudence to forestall hostilities, countered by unswerving Values, ad exhaustium, winner take all.

            %p
              As caretakers, ESFJs sense danger all around--germs within, the elements without, unscrupulous malefactors, insidious character flaws. The world is a dangerous place, not to be trusted. Not that the ESFJ is paranoid; 'hyper-vigilant' would be more precise. And thus they serve excellently as protectors, outstanding in fields such as medical care and elementary education.

            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Extraverted Feeling
            %p 
              ESFJs live in their Extraverted Feeling functioning. Feeling, a rational (i.e., deciding) function, expresses opinions easily in the E world of objects and people. ESFJs have the ability to express warmth, rage, and a range of other emotions. Actions are encouraged or rebuked based on how they affect other people, especially people near and dear to the ESFJ. This type's vocal decisiveness predisposes many of its number to facility with administration and supervision.

            %h4.text-blue3 Introverted Sensing
            %p
              The secondary Sensing function aids and abets the dominant Fe in that sensate data is collected and at once compared with the inner forms or standards. Data on which decisions are made are thus focused and given a contrast which tends to be stronger and clearer than the original stimuli. The strengthening effect of Si on Fe may be responsible for this type's reputation for wearing their "hearts on their sleeves." At any rate, ESFJs reflect the "black and white" view of reality which is common to the SJ types.

            %h4.text-blue3 Extraverted iNtuition
            %p
              Intuition is tertiary--as the ESFJ matures, and as situations arise which call for suspension of criticism, Ne is allowed to play. Under the leadership of the Fe function, iNtuition allows for a loosening of the more rigid Si rights and wrongs; teasing and slapstick humor emerge. ESFJs are also capable of discerning patterns and philosophies, but such perceiving is subject to the weakness of the tertiary position, and the results often lack the variety and complexity of connections that more complex systems require.


            %h4.text-blue3 Introverted Thinking
            %p
              The inferior Ti function may rarely be expressed. In fact, ESFJs may take affront at the aloof, detached nature of dominant Ti types, or conversely, be drawn to them. Some ESFJs construct rationale which have the appearance of (Jungian) Thinking logic, but under scrutiny are in fact command performances of "Thinking in the service of Feeling," (i.e., Thinking-like conclusions which do not obey the tenets of impersonal logic; they rather construct scenarios from only those "hard, cold facts" which support the conclusion reached by the dominant Extraverted Feeling function. To wit: 

            %br
            .row-fluid
              .span10.offset1
                %justify.text-warning
                  You don't sew with a fork, so I see no reason to eat
                  with knitting needles.
                  %p - Miss Piggy, on eating Chinese Food


      .span6.offset3
        %br
        %h3.text-blue2 Famous ESFJs:
        %ul 
          %li.text-warning 
            U.S. Presidents:
            %ul
              %li William McKinley
              %li William J. Clinton
          %li Jack Benny 
          %li Desi Arnaz ("Ricky Ricardo")
          %li Don Knotts ("Barney Fife")
          %li John Connally (former Governor of Texas)
          %li Terry Bradshaw, NFL quarterback
          %li Sally Struthers (All in the Family)
          %li Dixie Carter (Designing Women)
          %li Steve Spurrier, Heismann trophy winner, Univ. of S.C. football coach
          %li Sally Field
          %li Danny Glover (Lethal Weapon movies, Predator 2)
          %li Margaret Butt
          %li Nancy Kerrigan (U.S. olympic figureskater)
          %li Elvis Stojko (Canadian olympic figureskater)
          %li Rachel McAdams

        %br
        %h3.text-blue2 Fictional ESFJs
        %ul
          %li Babbitt (Sinclair Lewis)
          %li Hoss Cartwright (Bonanza)
          %li Leonard "Bones" McCoy (Star Trek)
          %li Monica (Friends)
          %li Haleh (ER)
          %li Mrs. Molly Weasley (Harry Potter)
          %li Donald Duck
          %li Rabbit (Winnie the Pooh)
        %br

    %br

#push 
    
= render "footer.html.haml"