#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 ESTJ - The Supervisor
          %h2.text-blue2 Extraverted Sensing Thinking Judging

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Guardian

            %br
            .row-fluid
              .span10.offset1
                %justify.text-warning
                  Every right-minded man has a philosophy of life, whether he knows it or not. Hidden away in his mind are certain governing principles, whether he formulates them in words or not, which govern his life. Surely his ideal ought to be to contribute all that he can, however little it may be, whether of money or service, to human progress.
                  %p -John D. Rockefeller, Random Reminiscences of Men and Events
            %p
              ESTJs thrive on order and continuity. Being extraverted, their focus involves organization of people, which translates into supervision. While ENTJs enjoy organizing and mobilizing people according to their own theories and tactically based agendas, ESTJs are content to enforce "the rules," often dictated by tradition or handed down from a higher authority.

            %p
              ESTJs are joiners. They seek out like-minded companions in clubs, civic groups, churches and other service organizations. The need for belonging is woven into the fiber of SJs. The family likewise is a central focus for ESTJs, and attendance at such events as weddings, funerals and family reunions is obligatory.

            %p
              Tradition is important to the ESTJ. Holidays, birthdays and other annual celebrations are remembered and observed often religiously by this type. The ESTJ is inclined to seek out his roots, to trace the family heritage back to honored ancestors both for a sense of family respectability and for a sense of security and belonging.

            %p
              Service, the tangible expression of responsibility, is another key focus for ESTJs. They love to provide and to receive good service. The ESTJ merchant who provides dependable service has done much to enhance her self image.

            %p
              ESTJs have an acute sense for orthodoxy. Much of their evaluation of persons and activities reflects their strong sense of what is "normal" and what isn't. ESTJ humor is frequently centered around something or someone being off center or behaving abnormally.

            %p
              ESTJs promote the work ethic. Power, position and prestige should be worked for and earned. Laziness is rarely viewed with ambivalence nor benevolence by this type.

            %br
            .row-fluid
              .span10.offset1
                %justify.text-warning
                  Some men can make decisions and some cannot. Some men fret and delay under criticism. I used to have a saying ("If you can't stand the heat, get out of the kitchen.") that applies here, and I note that some people have picked it up.                
                  %p -Harry S. Truman, Mr. Citizen 

            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Extraverted Thinking
            %p
              ESTJs are very good at making impersonal decisions quickly, and standing by those decisions. They live in their Extraverted Thinking functioning, thus, their prime directive is in discovering that which is true and logical in the events of the real world. Circumstances calling for product invite the ESTJ to supervise or direct other individuals toward production and productivity. Extraverts are attracted to the "object," the external things and people in observable reality. This bent translates into a natural interest in goods and material objects. >

            %h4.text-blue3 Introverted Sensing
            %p
              The secondary Introverted Sensing is like that of the ISTJ, but not as strong. Si provides practical form and concept data to the Te head, however, form is not the overriding principle, especially if Thinking has already decided. In times of need, ESTJs are tempted to overlook even necessary information if its absence impedes closure. Secondary sensing sometimes translates into interest in sports. The persistence of primary Thinking gives many ESTJs a desire for discipline and regimen which can be beneficial in skills development in the arena. >

            %h4.text-blue3 Extraverted iNtuition
            %p
              As the ESTJ matures, and as situations arise which call for suspension of criticism, Extraverted iNtuition is allowed to play. Under the leadership of the Te function, iNtuition gravitates toward the discovery of broad categories which at worst amount to stereotypes. Those ESTJs who hone their Ne abilities may find success in academia. (I've encountered ESTJs whose Ne overshadows the auxiliary Si function--for whatever reason--to the extent that there is an appearance of NT radical geekism.)

            %h4.text-blue3 Introverted Feeling
            %p
              This function may rarely be expressed. ESTJs who have cultivated, or have been blessed with, a "natural indirect expression of good will by inference," have great prospects of developing genuine friendships (as opposed to ESTJs who merely act out the behavior of Extraverted Feeling). Such a weak, introverted function is best observed in facial expression, eye contact, body language, and verbally only by implication. 


      .span6.offset3
        %br
        %h3.text-blue2 Famous ESTJs:
        %ul 
          %li Simon Peter (Christ's disciple)
          %li John Heywood (c.1497-c.1580, collector of English colloquialisms)
          %li.text-warning
            U.S. Presidents:
            %ul
              %li James Monroe
              %li Andrew Jackson
              %li William Henry "Tippecanoe" Harrison
              %li Franklin Pierce
              %li Grover Cleveland
              %li Harry S. Truman
              %li Lyndon B. Johnson
              %li George W. Bush
          %li Carrie Nation
          %li Elliot Ness
          %li John D. Rockefeller
          %li Bette Davis
          %li Robert A. Taft (U.S. senator, son of Pres. Wm. H. Taft)
          %li Sam Walton, owner and founder of WalMart stores
          %li Barbara Stanwyck
          %li Rev. Billy Graham 
          %li Dale Bumpers (U.S. Senator, D-Arkansas)
          %li Phil Fulmer, head football coach of the U. Tenn Vols
          %li Pat Head Summit, head basketball coach of the Lady Vols
          %li Bill Frist, M.D. (U.S. Senate Majority Leader)

        %br
        %h3.text-blue2 Fictional ESTJs
        %ul
          %li Lucy (Charles Schultz's Peanuts character)
          %li Mrs. Harbottle (Herriott, All Creatures Great and Small)
          %li Mrs. Rachel Lynde (Anne of Green Gables)
          %li The Mayor (The Music Man)
        %br

    %br

#push 
    
= render "footer.html.haml"