#wrap  
  = render 'navigation.html.haml'

  / Begin page content 
  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 INTJ - The Mastermind
          %h2.text-blue2 Introverted iNtuitive Thinking Judging 

      
      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 The Scientist

            %p
              To outsiders, INTJs may appear to project an aura of "definiteness", of self-confidence. This self-confidence, sometimes mistaken for simple arrogance by the less decisive, is actually of a very specific rather than a general nature; its source lies in the specialized knowledge systems that most INTJs start building at an early age. When it comes to their own areas of expertise -- and INTJs can have several -- they will be able to tell you almost immediately whether or not they can help you, and if so, how. INTJs know what they know, and perhaps still more importantly, they know what they don't know.

            %p
              INTJs are perfectionists, with a seemingly endless capacity for improving upon anything that takes their interest. What prevents them from becoming chronically bogged down in this pursuit of perfection is the pragmatism so characteristic of the type: INTJs apply (often ruthlessly) the criterion "Does it work?" to everything from their own research efforts to the prevailing social norms. This in turn produces an unusual independence of mind, freeing the INTJ from the constraints of authority, convention, or sentiment for its own sake.

            %p
              INTJs are known as the "Systems Builders" of the types, perhaps in part because they possess the unusual trait combination of imagination and reliability. Whatever system an INTJ happens to be working on is for them the equivalent of a moral cause to an INFJ; both perfectionism and disregard for authority may come into play, as INTJs can be unsparing of both themselves and the others on the project. Anyone considered to be "slacking," including superiors, will lose their respect -- and will generally be made aware of this; INTJs have also been known to take it upon themselves to implement critical decisions without consulting their supervisors or co-workers. On the other hand, they do tend to be scrupulous and even-handed about recognizing the individual contributions that have gone into a project, and have a gift for seizing opportunities which others might not even notice.

            %p
              In the broadest terms, what INTJs "do" tends to be what they "know". Typical INTJ career choices are in the sciences and engineering, but they can be found wherever a combination of intellect and incisiveness are required (e.g., law, some areas of academia). INTJs can rise to management positions when they are willing to invest time in marketing their abilities as well as enhancing them, and (whether for the sake of ambition or the desire for privacy) many also find it useful to learn to simulate some degree of surface conformism in order to mask their inherent unconventionality.

            %p
              Personal relationships, particularly romantic ones, can be the INTJ's Achilles heel. While they are capable of caring deeply for others (usually a select few), and are willing to spend a great deal of time and effort on a relationship, the knowledge and self-confidence that make them so successful in other areas can suddenly abandon or mislead them in interpersonal situations.

            %p
              This happens in part because many INTJs do not readily grasp the social rituals; for instance, they tend to have little patience and less understanding of such things as small talk and flirtation (which most types consider half the fun of a relationship). To complicate matters, INTJs are usually extremely private people, and can often be naturally impassive as well, which makes them easy to misread and misunderstand. Perhaps the most fundamental problem, however, is that INTJs really want people to make sense. :-) This sometimes results in a peculiar naivete', paralleling that of many Fs -- only instead of expecting inexhaustible affection and empathy from a romantic relationship, the INTJ will expect inexhaustible reasonability and directness.

            %p
              Probably the strongest INTJ assets in the interpersonal area are their intuitive abilities and their willingness to "work at" a relationship. Although as Ts they do not always have the kind of natural empathy that many Fs do, the Intuitive function can often act as a good substitute by synthesizing the probable meanings behind such things as tone of voice, turn of phrase, and facial expression. This ability can then be honed and directed by consistent, repeated efforts to understand and support those they care about, and those relationships which ultimately do become established with an INTJ tend to be characterized by their robustness, stability, and good communications.

            %br 

            %h3.text-blue2 A Functional Analysis
            %br

            %h4.text-blue3 Introverted iNtuition
            %p
              INTJs are idea people. Anything is possible; everything is negotiable. Whatever the outer circumstances, INTJs are ever perceiving inner pattern-forms and using real-world materials to operationalize them. Others may see what is and wonder why; INTJs see what might be and say "Why not?!" Paradoxes, antinomies, and other contradictory phenomena aptly express these intuitors' amusement at those whom they feel may be taking a particular view of reality too seriously. INTJs enjoy developing unique solutions to complex problems.

            %h4.text-blue3 Extraverted Thinking
            %p
              Thinking in this auxiliary role is a workhorse. Closure is the payoff for efforts expended. Evaluation begs diagnosis; product drives process. As they come to light, Thinking tends, protects, affirms and directs iNtuition's offspring, fully equipping them for fulfilling and useful lives. A faithful pedagogue, Thinking argues not so much on its own behalf, but in defense of its charges. And through this process these impressionable ideas take on the likeness of their master.

            %h4.text-blue3 Introverted Feeling
            %p
              Feeling has a modest inner room, two doors down from the Most Imminent iNtuition. It doesn't get out much, but lends its influence on behalf of causes which are Good and Worthy and Humane. We may catch a glimpse of it in the unspoken attitude of good will, or the gracious smile or nod. Some question the existence of Feeling in this type, yet its unseen balance to Thinking is a cardinal dimension in the full measure of the INTJ's soul.

            %h4.text-blue3 Extraverted Sensing
            %p
              Sensing serves with a good will, or not at all. As other inferior functions, it has only a rudimentary awareness of context, amount or degree. Thus INTJs sweat the details or, at times, omit them. "I've made up my mind, don't confuse me with the facts" could well have been said by an INTJ on a mission. Sensing's extraverted attitude is evident in this type's bent to savor sensations rather than to merely categorize them. Indiscretions of indulgence are likely an expression of the unconscious vengeance of the inferior.


      .span6.offset3
        %br
        %h3.text-blue2 Famous INTJs:
        %ul 
          %li Susan B. Anthony
          %li Lance Armstrong
          %li Arthur Ashe, tennis champion
          %li Augustus Caesar (Gaius Julius Caesar Octavianus)
          %li Jane Austen (Pride and Prejudice)
          %li Dan Aykroyd (The Blues Brothers)
          %li William J. Bennett, "drug czar"
          %li William F. Buckley, Jr.
          %li Raymond Burr (Perry Mason, Ironsides)
          %li Chevy Chase (Cornelius Crane) (Fletch)
          %li Katie Couric
          %li Phil Donahue
          %li Michael Dukakis, governor of Mass., 1988 U.S. Dem. pres. candidate
          %li Richard Gere (Pretty Woman)
          %li Rudy Giuliani, former New York City mayor
          %li Greg Gumbel, television sportscaster
          %li Hannibal, Carthaginian military leader
          %li Emily Bronte, author of Wuthering Heights
          %li Angela Lansbury (Murder, She Wrote)
          %li Orel Leonard Hershiser, IV
          %li Peter Jennings
          %li Charles Everett Koop
          %li Ivan Lendl
          %li C. S. Lewis (The Chronicles of Narnia)
          %li Joan Lunden
          %li Edwin Moses, U.S. olympian (hurdles)
          %li Martina Navratilova
          %li Michelle Obama
          %li General Colin Powell, former US Secretary of State
          %li Charles Rangel, US Representative, D-N.Y.
          %li Pernell Roberts (Bonanza)
          %li Donald Rumsfeld, former US Secretary of Defense 
          %li Hillary Clinton, US Secretary of State
          %li Arnold Schwarzenegger, Governor of California
          %li Josephine Tey (Elizabeth Mackintosh), mystery writer (Brat Farrar)
          %li.text-warning 
            U.S. Presidents:
            %ul
              %li Chester A. Arthur
              %li Calvin Coolidge
              %li Thomas Jefferson
              %li John F. Kennedy
              %li James K. Polk
              %li Woodrow Wilson

        %br
        %h3.text-blue2 Fictional INTJs
        %ul
          %li Cassius (Julius Caesar)
          %li Mr. Darcy (Pride and Prejudice)
          %li Gandalf the Grey (J. R. R. Tolkein's Middle Earth books)
          %li Hannibal Lecter (Silence of the Lambs)
          %li Professor Moriarty, Sherlock Holmes' nemesis
          %li Horatio Hornblower
          %li Ensign Ro (Star Trek--the Next Generation)
          %li Rosencrantz and Guildenstern (Hamlet)
          %li George Smiley, John le Carre's master spy
          %li Clarice Starling (Silence of the Lambs)
        %br

    %br

#push 
    
= render "footer.html.haml"