#wrap  
	= render 'navigation.html.haml'

	/ Begin page content 
	.row-fluid.staticPage
		.span8.offset2
			.page-header
				%center
					%h1.text-blue1 INTP - The Architect
					%h2.text-blue2 Introverted iNtuitive Thinking Perceiving

			
			.span10.offset1	
				.page-header	
					%justify
						%center.lead.text-blue3 The Thinker

						%p.indent
							INTPs are pensive, analytical folks. They may venture so deeply into thought as to seem detached, and often actually are oblivious to the world around them.

						%p
							Precise about their descriptions, INTPs will often correct others (or be sorely tempted to) if the shade of meaning is a bit off. While annoying to the less concise, this fine discrimination ability gives INTPs so inclined a natural advantage as, for example, grammarians and linguists.

						%p
							INTPs are relatively easy-going and amenable to almost anything until their principles are violated, about which they may become outspoken and inflexible. They prefer to return, however, to a reserved albeit benign ambiance, not wishing to make spectacles of themselves.

						%p
							A major concern for INTPs is the haunting sense of impending failure. They spend considerable time second-guessing themselves. The open-endedness (from Perceiving) conjoined with the need for competence (NT) is expressed in a sense that one's conclusion may well be met by an equally plausible alternative solution, and that, after all, one may very well have overlooked some critical bit of data. An INTP arguing a point may very well be trying to convince himself as much as his opposition. In this way INTPs are markedly different from INTJs, who are much more confident in their competence and willing to act on their convictions.

						%p
							Mathematics is a system where many INTPs love to play, similarly languages, computer systems--potentially any complex system. INTPs thrive on systems. Understanding, exploring, mastering, and manipulating systems can overtake the INTP's conscious thought. This fascination for logical wholes and their inner workings is often expressed in a detachment from the environment, a concentration where time is forgotten and extraneous stimuli are held at bay. Accomplishing a task or goal with this knowledge is secondary.

						%p
							INTPs and Logic -- One of the tipoffs that a person is an INTP is her obsession with logical correctness. Errors are not often due to poor logic -- apparent faux pas in reasoning are usually a result of overlooking details or of incorrect context.

						%p
							Games NTs seem to especially enjoy include Risk, Bridge, Stratego, Chess, Go, and word games of all sorts. (I have an ENTP friend that loves Boggle and its variations. We've been known to sit in public places and pick a word off a menu or mayonnaise jar to see who can make the most words from its letters on a napkin in two minutes.
						%br 

						%h3.text-blue2 A Functional Analysis
						%br
						%h4.text-blue3 Introverted Thinking
						%p.indent 
							Introverted Thinking strives to extract the essence of the Idea from various externals that express it. In the extreme, this conceptual essence wants no form or substance to verify its reality. Knowing the Truth is enough for INTPs; the knowledge that this truth can (or could) be demonstrated is sufficient to satisfy the knower. "Cogito, ergo sum" expresses this prime directive quite succinctly.

						%p
							In seasons of low energy level, or moments of single-minded concentration, the INTP is aloof and detached in a way that might even offend more relational or extraverted individuals.

						%h4.text-blue3 Extraverted iNtuition
						%p.indent
							Intuition softens and socializes Thinking, fleshing out the brittle bones of truths formed in the dominant inner world. That which is is not negotiable; yet actual application diffuses knowledge to the extent that knowledge needs qualification and context to be of any consequence in this foreign world of substance.

						%p
							If Thinking can desist, the INTP is free to brainstorm, calling up the perceptions of the unconscious (i.e., intuition) which are mirrored in patterns in the realm of matter, time and space. These perceptions, in the form of theories or hunches, must ultimately defer to the inner principles, or at least they must not negate them.

						%p
							Intuition unchained gives birth to play. INTPs enjoy games, formal or impromptu, which coax analogies, patterns and theories from the unseen into spontaneous expression in a way that defies their own comprehension.

						%h4.text-blue3 Introverted Sensing
						%p.indent
							Sensing is of a subjective, inner nature similar to that of the SJs. It supplies awareness of the forms of senses rather than the raw, analogic stimuli. Facts and figures seek to be cleaned up for comparison with an ever growing range of previously experienced input. Sensing assists intuition in sorting out and arranging information into the building blocks for Thinking's elaborate systems.

						%p
							The internalizing nature of the INTP's Sensing function leaves a relative absence of environmental awareness (i.e., Extraverted Sensing), except when the environment is the current focus. Consciousness of such conditions is at best a sometime thing.

						%h4.text-blue3 Extraverted Feeling
						%p.indent
							Feeling tends to be all or none. When present, the INTP's concern for others is intense, albeit naive. In a crisis, this feeling judgement is often silenced by the emergence of Thinking, who rushes in to avert chaos and destruction. In the absence of a clear principle, however, INTPs have been known to defer judgement and to allow decisions about interpersonal matters to be left hanging lest someone be offended or somehow injured. INTPs are at risk of being swept away by the shadow in the form of their own strong emotional impulses.

			.span6.offset3
				%br
				%h3.text-blue2 Famous INTPs:
				%ul 
					%li Socrates
					%li Rene Descartes
					%li Blaise Pascal
					%li Sir Isaac Newton
					%li.text-warning 
						U.S. Presidents:
						%ul 
							%li James Madison
							%li John Quincy Adams
							%li John Tyler
							%li Dwight D. Eisenhower
							%li Gerald Ford

					%li William Harvey (pioneer in human physiology)
					%li C. G. Jung, author of Psychological Types, etc.)
					%li William James
					%li Albert Einstein
					%li Charles Darwin
					%li Tom Foley (1989-1995: Speaker of the House--U.S. House of Representatives)
					%li Henri Mancini
					%li Bob Newhart
					%li Jeff Bingaman, U.S. Senator (D.--NM)
					%li Rick Moranis (Honey, I Shrunk The Kids)
					%li Midori Ito (ice skater, Olympic silver medalist)
					%li Tiger Woods

				%br
				%h3.text-blue2 Fictional INTPs
				%ul
					%li	Tom and Fiona (Four Weddings and a Funeral)
					%li	Dr. Susan Lewis (ER)
					%li	Filburt (Rocko's Modern Life)
				%br

		%br

#push 
    
= render "footer.html.haml"