#wrap
  = render 'navigation.html.haml'

  .row-fluid.staticPage
    .span8.offset2
      .page-header
        %center
          %h1.text-blue1 Myers Briggs

      .span10.offset1 
        .page-header  
          %justify
            %center.lead.text-blue3 MBTI – Purpose & General Info

            %p The purpose of the Myers-Briggs Type Indicator® (MBTI®) personality inventory is to make the theory of psychological types described by C. G. Jung understandable and useful in people’s lives. The essence of the theory is that much seemingly random variation in the behavior is actually quite orderly and consistent, being due to basic differences in the ways individuals prefer to use their perception and judgment.

            %p "Perception involves all the ways of becoming aware of things, people, happenings, or ideas. Judgment involves all the ways of coming to conclusions about what has been perceived. If people differ systematically in what they perceive and in how they reach conclusions, then it is only reasonable for them to differ correspondingly in their interests, reactions, values, motivations, and skills."

            %p In developing the Myers-Briggs Type Indicator [instrument], the aim of Isabel Briggs Myers, and her mother, Katharine Briggs, was to make the insights of type theory accessible to individuals and groups. They addressed the two related goals in the developments and application of the MBTI instrument:

            %p The identification of basic preferences of each of the four dichotomies specified or implicit in Jung’s theory.

            %p The identification and description of the 16 distinctive personality types that result from the interactions among the preferences.”
            %br


      .span8.offset2
        %h4.text-blue2 Extraversion (E) - (I) Introversion 
        %strong.text-blue3  Favorite world:
        %ul  
          %li Do you prefer to focus on the outer world or on your own inner world?
        %br
      
        %h4.text-blue2 Sensing (S) - (N) Intuition
        %strong.text-blue3 Information:
        %ul  
          %li Do you prefer to focus on the basic information you take in or do you prefer to interpret and add meaning?  
        %br 

        %h4.text-blue2 Thinking (T) - (F) Feeling
        %strong.text-blue3 Decisions: 
        %ul
          %li When making decisions, do you prefer to first look at logic and consistency or first look at the people and special circumstances? 
        %br

        %h4.text-blue2 Judging (J) - (P) Perception 
        %strong.text-blue3 Structure:
        %ul  
          %li In dealing with the outside world, do you prefer to get things decided or do you prefer to stay open to new information and options?
        %br
#push
= render 'footer.html.haml'