#wrap  
	= render 'navigation.html.haml'

	/ Begin page content 
	.row-fluid.staticPage
		.span8.offset2
			.page-header
				%center
					%h1.text-blue1 What's In It For Me?
					%h2.text-blue2 Thats the Million Dollar Question!

			
			.span10.offset1	
				.page-header	
					%justify
						%center.lead.text-blue3 MBTI – How is it useful for individuals and organization!

						%p.text-primary
							The Myers-Briggs Type Indicator (MBTI) Was developed by Katharine C Briggs and her daughter Isabel Briggs Myers. It is based on the work of a Swiss psychologist named C G Jung who outlined psychological type theory in his book entitled “Psychological Types” published in 1922. The MBTI instrument is a way to help you become aware of your particular style and to better 

						%p.text-warning
							%br
							%b The principles for using psychological types to enhance relationships are the fundamental vales.

						%ul 
							%li 
								Recognition and respect for differences between people
								E.g. Interaction and development of communications with people who do not work together will provide them with valuable information about why other may misunderstand their communication as well as suggest ways to modify their styles.

							%li
								Appreciation for the value the differences bring
						%br
						%p
							An unbiased introduction, with attention to type verification and to the full type description and some opportunities to apply the information to some day-to-day work settings provide the best guarantee that the organization will profit from the benefits and avoid potential pitfalls.
						%br
						%p
							%b.text-blue3 An Illustration: 
							Combination of “E or I” AND “J or P” influences how 
							%b people respond to change! 
							When a change is suggested, adaptable Extraverts 
							%b.text-blue3 (EP's) 
							consult their networks, talk to people, and find out what everyone thinks. If the changes allow room for their creativity and action, they gather resources and try to energize everyone to implement the changes.
							%br
							%br
							%b.text-warning Don’t you feel it would be advantages if the organization/ leaders pay attention with such understanding?
						%br 

			.span6.offset3
				%p
					%br
					%b.text-blue2 Team Effectiveness: It specifically aids team members by
				%ul 
					%li Fostering openness and trust
					%li Providing a neutral and affirmative language to discuss differences
					%li Teaching team members to value and work with the strengths of others
					%li Helping increase productivity by aligning individual’s MBTI preferences to particular team tasks
					%li	Supplying a framework in which team members can better understand & manage – Communication, Team culture, Leadership, Change, Stress, and Problem solving, etc.
				%p
					%br
					%b.text-blue2 The professional, ethical and contributory use of MBTI can help organizations and individuals in many forms like
				
				%ul
					%li	Improving communication
					%li	Enhancing problem solving and decision making
					%li	Dealing with conflict 
					%li	Managing organizational Change
					%li	Recognizing and managing stress
					%li	Team development activities
					%li	Leadership development and coaching
					%li	Analyzing organizational tendencies

				%br

		%br

#push 
    
= render "footer.html.haml"